.macro-box {
    z-index: 1000;
}

.ui-element-macro-box {
    border-radius: 10px;
    border: 2px solid #b2b2b2;
    background: rgba(0,0,0,0.3);
    // max-height: 200px;
    overflow-y: auto;
    width: 400px;
    padding: 5px 15px;

    .macro-sec-actions {
        width: 160px;
        display: flex;
        justify-content: space-evenly;
    }
    .MuiListItem-root {
        padding: 0px;
    }

}

.macro-list {
    max-height: 150px;
    overflow-y: auto;
}