.char-select, .char-create {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    color: white;
    //pointer-events: none;
    li, button {
        color: white;
        border-color: white;
        background: rgba(0,0,0,0.4);
        
    }
    li {
        margin: 5px 0 !important;
        .MuiButtonBase-root {
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
  
    button {
        &:hover {
            background: rgba(0,0,0,0.6);
        }
        margin: 5px;
    }
}

.btn-selected {
    background: rgba(0,0,0,0.8) !important;
    box-shadow: 0px 0px 8px 3px #fbdc02;// rgb(34, 119, 203);
}

.char-list, .char-create {
    padding: 0 !important;
    position: absolute !important;
    top: 30px;
    left: 50px;
}

.char-create-stats {
    border: 1px solid white !important;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    padding: 15px 5px !important;
    position: absolute !important;
    top: 40px;
    right: 50px;
    user-select: none;
}

.char-create-name {
    padding: 15px 5px !important;
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
    user-select: none;
    width: 530px !important;
}

.char-description {
    border: 1px solid white !important;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    margin-top: 10px !important;
    padding: 15px !important;
    padding-top: 5px !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 150px;
    width: 500px;
    font-size: 14px;
    text-align: left;
    max-height: 150px;
    overflow-y:auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  border-radius: 2px;
  background-color: #aaa;
}

*::-webkit-scrollbar-thumb {
  background: #333;
}