.ui-chat {
    border-radius: 10px;
    border: 2px solid #b2b2b2;
    background: rgba(0,0,0,0.3);
    padding: 5px 15px;
    text-align: left;
    width: 500px;
    height: 500px;
    cursor: initial;
}

.cmd-input {
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    border: 1px solid #b2b2b2;

}