.dashboard-content {
  width: 100vw;
  height: 100vh;
  & > div {
    width: 100%;
    height: 100%;
  }
}
.main-content {
  padding: 0px !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.connection-content {
  display: block;
  min-height: 350px;
  margin: 5px;
  & > * {
    margin: 5px 0 !important;
  }
}