.ui-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100,0,0,.1);
    top: 0;
    left: 0;
    pointer-events: none;

    .ui-element {
        pointer-events: all;
        position: absolute;
        &, & * {
            user-select: none;
          }
    }
}