.zone-header {
  width: 100%;
  height: 100%;
  padding: 0 !important;

}
.btn-row {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  button {
    margin-right: 10px;
  }
  & > * {
    margin-right: 13px;
  }
}

.react-toast-notifications__container {
  margin-top: 130px;
}