.zone-header {
  width: 100%;
  height: 100%;
  padding: 0 !important;

}
.btn-row {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  button {
    margin-right: 10px;
  }
  & > * {
    margin-right: 13px;
  }
}

.react-toast-notifications__container {
  margin-top: 130px;
}

.zone-header {
  width: 100%;
  height: 100%;
}
.zone-container {
  width: calc(100%);
  height: calc(100vh - 64px);
}

.overlay-buttons {
  position: absolute;
  top: 120px;
  z-index:1000;
  color: white;
}
